/* menu bar container*/

menu{
  margin: 0;
  padding: 0;
  background-color: lightpink;
}

#site-links {
  margin: 0;
  padding: 0;
display: inline-block;
}


#site-links .menu-item{
  width: 6em;
padding: .5em .5em;
display: inline-block;

  background-color: lightpink;
  text-align: center;
  color: white;
}

#site-links .menu-item:hover{
  background-color: black;
  color: lavender;
  text-decoration: underline overline;
  text-decoration-color: black;
  text-decoration-style: dotted;
}


#site-links .dropdown{
display: inline-block;
width: 6em;
}

#site-links .dropdown-content{
  display: none;
  position: absolute;

  background-color: black;
  z-index: 5;
}
#site-links .dropdown-content a{
  color: white;
  font-family: 'Acme', sans-serif, Georgia, serif;
}

#site-links .dropdown-content a:hover{
  color: lightpink;
  font-weight: bold;
}
#site-links .dropdown:hover .dropdown-content{
  display: block;
}
#site-links .dropdown-item{
  min-width: 6em;
  padding: .5em 1em;
  display: block;
  text-align: center;
}
.dropdown-item:hover{
  background-color: lavender;
}


#social-links{
  display: inline-block;
  padding: .5em;
  float: right;
}

#social-links .social-item{
  margin: 5px;

}
#social-links img{
  width: 20px;
  height:20 px;
  opacity: .5;

}
#social-links img:hover{
  opacity: 1;
}
