
#socials{
  display: inline-block;
  padding: .5em;
  float: right;
}

#socials .social-item{
  margin: 5px;

}
#socials img{
  width: 25px;
  height: 25 px;
  opacity: .5;

}
#socials img:hover{
  opacity: 1;
}
